body {
  font-family: 'Rubik', sans-serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
}

.small {
  font-weight: 200;
  font-style: italic;
}

.card-coloumns{
  border-style: solid;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  margin-right: 0;

}

.card-container:hover{
  transition: .3s;
  box-shadow:0px 0px 15px 0px;
}

.image-container img{
   overflow:hidden;
   height:450px; 
   align-items: center;
   object-fit: cover;
}
.card-container{
  width:300px;
  border-style: solid;
  border-color:brown;
  box-shadow: 5px;
  margin:20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px;

}

.btn{
  padding:6px;
  font-size: 20px;
  cursor: pointer;
  background-color:yellow;
  border-color:brown;
  border-radius: 10px;
}
 .container{
  border-style: solid;
  border-color: blueviolet;
 }
