  .movie{
    display: flex;
    justify-content: center;
  }
.Stype{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.Btype{
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.Ctype{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 950px;
}

/* button.btn{
  background-color: #8064A2;
}
  
button.btn-group-lg>.btn, .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  background-color: black;
}
button.btn-success:active {
  box-shadow: 0 0 0 0.2rem yellow;
}
button.btn-success:active
{
  color: #8064A2;
}
button.btn-success {
  color: #fff;
  background-color: yellow;
  border-color: yellow;
}
  
.btn-success.focus, .btn-success:focus {
  color: #fff;
  background-color: yellow;
  border-color: rgb(207, 133, 54);
  box-shadow: 0 0 0 0.2rem rgba(180, 148, 72, 0.5);
} */

